header {
  background-color: #e3f2fd;
  color: #0d47a1;
  margin: 10px;
  padding: 15px;
  border: 2px solid #2196f3;
}

main {
  background-color: #f1f8e9;
  color: #33691e;
  margin: 10px;
  padding: 15px;
  border: 2px solid #8bc34a;
}

footer {
  background-color: #fce4ec;
  color: #880e4f;
  margin: 10px;
  padding: 15px;
  border: 2px solid #f06292;
}

h2 {
  font-size: 1.5em;
  text-decoration: underline;
}

.destaque {
  font-style: italic;
  background-color: #fff8e1;
}

#importante {
  border-top: 5px solid #ff5722;
}
